@import url("https://unpkg.com/leaflet%401.9.4/dist/leaflet.css");

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

body {
    background-image: url('/desktop-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    position : absolute;
    inset: 0;
}