body {
    background-image: url('/desktop-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
    position : absolute;
    inset: 0;
}